@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --aside-width: 15%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
html:focus-within {
    scroll-behavior: smooth;
    text-size-adjust: none;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    overscroll-behavior: contain;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}
:where(h1, h2, h3, h4, p) {
    text-wrap: balance;
}
.noPhone {
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1rem;
    text-align: center;
}
.Loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1rem;
    text-align: center;
}
header {
    max-width: 100% !important;
}
.coll {
    display: flex;
    flex-direction: row;
}
aside {
    width: var(--aside-width);
    height: 100%;
}
aside nav {
    width: 100%;
    height: fit-content;
    padding: 1rem;
}
aside nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
aside nav ul li {
    padding: 0.5rem;
}
main {
    width: calc(100% - var(--aside-width));
    min-height: 100vh;
}
footer {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .noPhone {
        display: flex;
    }
    aside {
        display: none;
    }
    main {
        width: 100%;
        padding: 1.5rem;
    }
}
.old-script,
.no-script {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1rem;
    text-align: center;
    background-color: #1c1e21;
    color: #d9d4ce;
    /* & > p {
        font-size: 24px;
        color: #d9d4ce;
    } */
}
.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 8;
}
